{% extends "layout.html" %}

{% block jumbocontent %}
<div class="row justify-content-center">
    <h3 style="font-size:32px";>About</h3>
</div>
<div class="row">
    <p>
    Seth is an experienced researcher and data scientist, based at the <a href="http://home.cern">CERN</a> laboratory near Geneva, Switzerland, since 2009.
    <br><br>
    Seth attended <a href="http://www.carleton.edu">Carleton College</a> and graduated <i>magna cum laude</i> with a double major
    in physics and computer science.
    <br><br>
    He then pursued his doctorate at the <a href="http://www.physics.umn.edu/">University of Minnesota</a>.
    He has been a member of the <a href="https://cms.cern/">CMS collaboration</a> for over 10 years, analyzing the petabytes of data produced
    in particle collisions at the <a href="https://home.cern/topics/large-hadron-collider">CERN Large Hadron Collider</a> (LHC) for small signals
    of new physics.
    As part of his <a href="http://www.hep.umn.edu/us-cms/theses/Minnesota_PHD2012_Seth_Cooper.pdf">thesis</a> work, he developed a timing calibration technique for the electromagnetic calorimeter of the CMS detector.
    He also introduced a novel shape-based technique to improve a search for a particular new particle.
    <br><br>
    Seth earned his Ph.D. in 2012 and joined the <a href="http://chenderson.people.ua.edu/collider-physics-group.html">University of Alabama collider physics group</a>.
    There he became deputy operations manager, and then online software manager, of the hadron calorimeter of the CMS detector.
    He continues searching for new physics as more data is collected with higher collision energy.

    </p>
</div>
{% endblock %}