<!DOCTYPE html>
<html>
  <head>
    <title>Seth I. Cooper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>


  <body>

    <script>
        $(document).ready(function() {
            var url = this.location.pathname;
            var filename = url.substring(url.lastIndexOf('/')+1);
            $('a[href="' + filename + '"]').parent().addClass('active');
            /*
            console.log($('a[href="' + this.location.pathname + '"]').attr('href'))
            console.log($('a[href="' + this.location.pathname + '"]').parent().attr('class'))
            console.log($('.navbar').find('a[href="' + location.pathname + '"]').closest('li'))

            $('a[href="' + filename + '"]').parent().addClass('active');*/
        });
    </script>

    <header>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <a class="navbar-brand" href="#">Seth I. Cooper</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--<ul class="navbar-nav ml-auto">-->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="static/pdf/cooper_cv.pdf">Resume</a>
              </li>
              <!--<li class="nav-item dropdown">-->
              <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--    Dropdown-->
              <!--  </a>-->
              <!--  <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
              <!--    <a class="dropdown-item" href="#">Action</a>-->
              <!--    <a class="dropdown-item" href="#">Another action</a>-->
              <!--    <div class="dropdown-divider"></div>-->
              <!--    <a class="dropdown-item" href="#">Something else here</a>-->
              <!--  </div>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
              <!--  <a class="nav-link disabled" href="#">Disabled</a>-->
              <!--</li>-->
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">-->
            <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a id="right-nav-github" href="mailto:seth@sethicooper.com" target="_blank" class="btn">
                  <i class="fas fa-envelope"></i>
                </a>
              </li>
              <li class="nav-item">
                  <a id="right-nav-github" href="http://www.github.com/sethcooper" target="_blank" class="btn">
                      <i class="fab fa-github"></i>
                  </a>
              </li>
              <li class="nav-item">
                <a id="right-nav-linkedin" href="http://www.linkedin.com/in/seth-cooper" target="_blank" class="btn">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          </div>


      </nav>
    </header>

  <div class="container">
      <div class="jumbo bg-light">

        <!-- Basic Card with Image, Title and Description -->
        <div class="card" style="max-width:20rem;float:left">
            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/IMG_2060.jpg') }}" alt="card image">
            <div class="card-body">
                <h4 class="card-title">Seth I. Cooper</h4>

                <div class="btn-group-vertical hidden-lg-up" role="group" aria-label="Card buttons">
                    <a class="card-link" href="mailto:seth@sethicooper.com"><i class="fas fa-envelope"></i> seth@sethicooper.com</a>
                    <br />
                    <a class="card-link" href="http://www.linkedin.com/in/seth-cooper"><i class="fab fa-linkedin"></i> linkedin.com/in/seth-cooper</a>
                    <br />
                    <a class="card-link" href="http://www.github.com/sethcooper"><i class="fab fa-github"></i> github.com/sethcooper</a>
                </div>
            </div>
        </div>

          {% block jumbocontent %}
          {% endblock %}

      </div>
  </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
