<!DOCTYPE html>
<html>
  <head>
    <title>Seth I. Cooper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>


  <body>

    <script>
        $(document).ready(function() {
            var url = this.location.pathname;
            var filename = url.substring(url.lastIndexOf('/')+1);
            $('.navbar a[href="' + filename + '"]').parent().addClass('active');
        });
        /*$(function() {
            $("div:empty").hide();
        });*/
    </script>

    <header>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <a class="navbar-brand" href="home">Seth I. Cooper</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--<ul class="navbar-nav ml-auto">-->
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item">
                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('static', filename='pdf/cooper_cv_website.pdf') }}">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="music">Music</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a id="right-nav-github" href="mailto:seth@sethicooper.com" target="_blank" class="btn">
                  <i class="fas fa-envelope"></i>
                </a>
              </li>
              <li class="nav-item">
                  <a id="right-nav-github" href="http://www.github.com/sethcooper" target="_blank" class="btn">
                      <i class="fab fa-github"></i>
                  </a>
              </li>
              <li class="nav-item">
                <a id="right-nav-linkedin" href="http://www.linkedin.com/in/seth-cooper" target="_blank" class="btn">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          </div>


      </nav>
    </header>

    <div class="container">
      <div class="jumbo bg-light">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 align-self-start">
                <!-- Basic Card with Image, Title and Description -->
                <!--<div class="card" style="max-width:20rem;float:left"> -->
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/IMG_2060.jpg') }}" alt="card image">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Seth I. Cooper</h4> -->

                        <div class="btn-group-vertical hidden-lg-up" role="group" aria-label="Card buttons">
                            <a class="card-link" href="mailto:seth@sethicooper.com"><i class="fas fa-envelope fa-xs"></i><span class="d-inline"> seth@sethicooper.com</span></a>
                            <br />
                            <a class="card-link" href="http://www.linkedin.com/in/seth-cooper"><i class="fab fa-linkedin fa-xs"></i><span class="d-inline"> linkedin.com/in/seth-cooper</span></a>
                            <br />
                            <a class="card-link" href="http://www.github.com/sethcooper"><i class="fab fa-github fa-xs"></i><span class="d-inline"> github.com/sethcooper</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class=col>
                {% block jumbocontent %}
                {% endblock %}
            </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <hr>
    <footer>
        <center>
            <p>
                <a id="footer-link" href="home">Home</a>
                |
                <a class="footer-link" href="about">About</a>
                |
                <a class="footer-link" href="{ url_for('static', filename='pdf/cooper_cv.pdf') }}">Resume</a>
                |
                <a class="footer-link" href="music">Music</a>

            </p>
        </center>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
