{% extends "layout.html" %}

{% block jumbocontent %}
<div class="row justify-content-center">
    <h3 style="font-size:32px";>Music</h3>
</div>
<div class="row">
    <p>
    Seth became a musician as a small child, starting on violin.
    Later he studied piano and sang with the <a href="http://mbchoir.com/">Metropolitan Boys Choir</a> before beginning saxophone.
    As a teenager, he started playing bass guitar.
    Studying with former Buddy Rich Big Band saxophonist Brian Grivna, Seth played in the top jazz ensemble at Edina High School for his entire high school career, and was selected as a member of the MN All-State Jazz Ensemble.
    At Carleton College, Seth studied with guitarist <a href="http://www.davidsingley.com">David Singley</a> and played in several college bands.
    He is currently a member of two Geneva-based bands and performs regularly in the area.
    </p>
</div>
{% endblock %}
